.vscode
/server
/testing

**/json.lua
**/sha2.lua

*/my-cds.json
**/files/*

/nim/pcm_db
/nim/file_sync
/nim/todo_seeder
/nim/todo_server

**/nginx.conf.compiled
**/client_body_temp
**/fastcgi_temp
**/logs
**/proxy_temp
**/scgi_temp
**/uwsgi_temp
